@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

html{
  font-size: 62.5%;
  height: 100vh;
  background: url('jon-tyson-gIVzDR6JRWc-unsplash.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.hidden{
  display: none;
}

h1{
  text-align: center;
  font-size: 3rem;
}

main > p{
  text-align: center;
  font-size: 1.4rem;
  font-weight: bold;
}



.container{
  background: rgb(0, 0, 0);
  margin: 40px auto;
  width: 600px;
  height: 600px;
  border-radius: 5px;
  box-shadow: 1px 2px 15px 15px rgba(88, 2, 138, 0.6);
  display: flex;
  flex-direction: column;
  padding: 45px;
  position: relative;
}

h1, main > p, a, div > p, .displayQuestion, .answerContainer{

  color: white;
}

div > p{
  font-size: 1.4rem;
  margin-top: 20px;
}

.displayQuestion{
  font-size: 2rem;
  margin-top: 25px;
}

.getQuestion, .showAns{
  margin-top: 1.5rem;
}


.answerContainer{
  margin: 0 auto;
  font-size: 2rem;
  list-style: none;
}

#githubLogo{
  font-size: 30px;
}



div.displayAnswers{
  margin-top: 35px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}


div.displayAnswers p{
  color: black;
  margin: 10px;
  padding: 5px;
  background: white;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 5px;
}

/*Loading Screen*/
.loading-overlay{
  background-color:black;
  position:fixed;
  top:0;
  left:0;
  width:100vw;
  height:100vh;
  align-items:center;
  justify-content:center;
}

.loading-overlay h1{
  color:red;
  font-weight:bold;
  font-size: clamp(32px, 6vw, 112px);
  padding:40px;
}

.letter{
  transition: color 10ms ease-in-out;
}
/*END Loading Screen*/